POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_HOST=postgres
DB_PORT=5432
SECRET_KEY=changeme-in-production
DEBUG=False
ALLOWED_HOSTS=example.com,www.example.com
